{% extends "layout.twig" %}

{% block content %}

 <header>

    <div class="header-main wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
       <div class="header-main-right">
            <ul>
                <li>
                    {{widget('content', 'content2', {content: '<h2>Make a donation today!</h2>', lines: 'all' })|raw}}
                </li>
                <li>
                    {{widget('button', 'button', {italic: false, text:'DONATE'})|raw}}
                </li>
            </ul>
        </div>
    </div>

    <div class="header-sub">
        <div class="wrapper clearfix">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </div>
    </div>

</header>

<!-- FEATURE ROW !-->
<section class="main wrapper clearfix">
    <section class="feature-row">
        <div class="widget responsivecolumns columns-two-65-35">
            <div class="column columns-two-left">
                 {{widget('feature', 'featurehome', {"header": "End Budget Diversions in Austin", "strapline":"No Excuses. No Deceptions.", "buttonText":"MORE INFO","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
            </div>
            <div class="column columns-two-right">
                <div class="content-bg intro">
                    {{widget('content', 'content1', {content: '<h2>We say<br>what we do, <br>do what we say</h2>
                            <p>Donec ut mauris faucibus justo egestas sagittis no non ligula. Sed aliquet velit arcu nullam sed turpis nam. <a href="#">Pretium Views »</a></p>', lines: 'all' })|raw}}
                    
                    <div class="widget line" style="padding: 20px 0;">
                        <hr class="line"></hr>
                    </div>

                    {{widget('tweet', 'tweet', {'linkText': 'TWEET'})|raw}}

                </div>
            </div>
        </div>
    </section>

    <!-- MAIN ZONE !-->
    <section class="main-zone">
        <div class="content-bg ">
            <div class="columns-two-65-35 clearfix">
                <div class="column  columns-two-left main" style="float:left">
                    {{zone('main')|raw}}
                </div>
                <div class="column columns-two-right">
                    {{widget('content', 'content', {content: '<h4>Twitter Feed</h4>', lines: 'all' })|raw}}
                    {{widget('twitter', 'twitter', {'searchKey': 'basekit', 'searchType': 'username', 'count': '3','refreshTime': '1800000','includeRts': '0'})|raw}}
                </div>
            </div>
        </div>
    </section>

<!-- FEATURE ROW END !-->
</section>


<footer>
    <div class="wrapper clearfix">
        <div class="widget responsivecolumns columns-three-33-34-33">
           <div class="column columns-three-left">
                {{widget('content', 'footercolumn1', {"content":"<h3>Lorem &amp; Ipsodium</h3><p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor nunc vellain livamus.</p><p><a>Lorem ipsum.</a></p>"})|raw}}
           </div>
           <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2', {"content":"<h3>Lorem &amp; Ipsodium</h3><p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor nunc vellain livamus.</p><p><a>Lorem ipsum.</a></p>"})|raw}}
           </div>
           <div class="column columns-three-right">
                {{widget('content', 'footercolumn3', {"content":"<h3>Lorem &amp; Ipsodium</h3>"})|raw}}
                {{widget('companyaddress', 'companyaddressfooter', {})|raw}}    
           </div>
        </div>
    </div>
    <section class="footer2">
        <div class="wrapper clearfix">
            <div class="widget responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                    {{widget('content', 'footer2column1', {"content":"<p>Uvitae sagittis © 2013. Placerat ac Nulla.</p>"})|raw}}
                </div>
                <div class="column columns-two-right">
                    {{widget('content', 'footer2column2', {"content":'<p style="text-align: right;">Lorem ipsum dolor sit amet consectetur.</p>'})|raw}}
                </div>
            </div>
        </div>
    </section>
</footer>

{% endblock %}
