{% extends "layout.twig" %}

{% block content %}

 <header>

    <div class="header-main wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
       <div class="header-main-right">
            <ul>
                <li>
                    <div class="widget content">
                        <div class="bk-content-text">
                            <h2>Make a donation today!</h2>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="widget button">   
                        <button class="btn">
                            <span class="btnText">DONATE</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-sub">
        <div class="wrapper clearfix">
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </div>
    </div>

</header>

<!-- FEATURE ROW !-->
<section class="main wrapper clearfix">
    
    <!-- MAIN ZONE !-->
    <section class="main-zone">
        <div class="content-bg">
            <div class="widget responsivecolumns columns-two-65-35">
                <div class="column columns-two-left">
                    {{zone('main')|raw}}
                </div>
                <div class="column columns-two-right">
                    <div class="widget content">
                        <div class="bk-content-text">
                            <h4>Twitter Feed</h4>
                        </div>
                    </div>
                    {{widget('twitter', 'twitter', {'searchKey': 'basekit', 'searchType': 'username', 'count': '3','refreshTime': '1800000','includeRts': '0'})|raw}}
                </div>
            </div>
        </div>
    </section>

<!-- FEATURE ROW END !-->
</section>


<footer>
    <div class="wrapper">
        <div class="widget responsivecolumns columns-three-33-34-33">
           <div class="column columns-three-left">
                {{widget('content', 'footercolumn1', {"content":"<h3>Lorem &amp; Ipsodium</h3><p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor nunc vellain livamus.</p><p><a>Lorem ipsum.</a></p>"})|raw}}
           </div>
           <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2', {"content":"<h3>Lorem &amp; Ipsodium</h3><p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor nunc vellain livamus.</p><p><a>Lorem ipsum.</a></p>"})|raw}}
           </div>
           <div class="column columns-three-right">
                {{widget('content', 'footercolumn3', {"content":"<h3>Lorem &amp; Ipsodium</h3>"})|raw}}
                {{widget('companyaddress', 'companyaddressfooter', {})|raw}}    
           </div>
        </div>
    </div>
    <section class="footer2">
        <div class="wrapper clearfix">
            <div class="widget responsivecolumns columns-two-50-50">
                <div class="column columns-two-left">
                    {{widget('content', 'footer2column1', {"content":"<p>Uvitae sagittis © 2013. Placerat ac Nulla.</p>"})|raw}}
                </div>
                <div class="column columns-two-right">
                    {{widget('content', 'footer2column2', {"content":'<p style="text-align: right;">Lorem ipsum dolor sit amet consectetur.</p>'})|raw}}
                </div>
            </div>
        </div>
    </section>
</footer>

{% endblock %}
